.user {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    gap: 12px;
    padding: 3% 3% 0 3%;
}

.user-basic-details {
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: baseline;
}

label {
    display: inline-block;
}


.button-container {
    display: flex;
    justify-content: end;
    gap: 10px;
    align-self: end;
}


.action-buttons-container button {
    background-color: gold;
    border: 1px solid rgb(78, 78, 224);
}

.green-border {
    border: 2px solid green;
}

.red-border {
    border: 2px solid red;
}

.action-buttons-container {
    display: inline;
    float: inline-end;
}


.more-detailes.expanded {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.extra-data {
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    display: flex;
    gap: 8px;
    margin-bottom: 3%;
}

.chosen-user {
    background-color: #e9a93391;
}  

.show-more {
    background-color: rgb(161, 158, 158);
    float: left;
    margin-bottom: 3%;
}